@mixin position-centre($position: absolute) {
  position: $position;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin position-over-top {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
}

@mixin position-over-right {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(100%, -50%);
}

@mixin position-over-bottom {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100%);
}

@mixin position-over-left {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
}
